<Config>
  <HomePath>C:\Maldus\Projects\InputResender</HomePath>
  <AutostartName>initCmds</AutostartName>
  <PrintAutoCommands>T</PrintAutoCommands>
  <MaxOnelinerLength>125</MaxOnelinerLength>
  <ResponsePrintFormat>Normal</ResponsePrintFormat>
  <AutoCommands>
    <initCmds>
      <C0>loadall</C0>
      <C1>clear</C1>
      <C2>safemode on</C2>
      <C3>core new</C3>
      <C4>core own</C4>
      <C5>conns force init</C5>
      <C6>loglevel all</C6>
      <C7>network callback recv print</C7>
      <C8>network callback newconn print</C8>
      <C9>hook manager start</C9>
      <C10>pipeline new Sender DInputProcessor DDataSigner DPacketSender</C10>
      <C11>pipeline new Recver DPacketSender DDataSigner DInputSimulator</C11>
      <C12>pipeline new InputProcess DInputReader DInputMerger DInputProcessor</C12>
      <C13>hook add Print Keydown KeyUp</C13>
      <C14>sim keypress R</C14>
    </initCmds>
  </AutoCommands>
</Config>