<Config>
  <HomePath>C:\Maldus\Projects\InputResender</HomePath>
  <AutostartName>initCmds</AutostartName>
  <PrintAutoCommands>T</PrintAutoCommands>
  <MaxOnelinerLength>125</MaxOnelinerLength>
  <ResponsePrintFormat>Normal</ResponsePrintFormat>
  <AutoCommands>
    <initCmds>
      <C0>loadall</C0>
      <C1>clear</C1>
      <C2>safemode on</C2>
      <C3>core new</C3>
      <C4>core own</C4>
      <C5>conns force init</C5>
      <C6>loglevel all</C6>
      <C7>network callback recv print</C7>
      <C8>network callback newconn print</C8>
    </initCmds>
    <setupPipes>
      <P0>hook manager start</P0>
      <P1>pipeline new Sender DInputProcessor DDataSigner DPacketSender</P1>
      <P2>pipeline new Recver DPacketSender DDataSigner DInputSimulator</P2>
      <P3>pipeline new InputProcess DInputReader DInputMerger DInputProcessor</P3>
      <P4>pipeline new HookManagerInputProcess SHookManager DInputMerger DInputProcessor</P4>
    </setupPipes>
    <testSimKey>
      <K0>hook add Print Keydown KeyUp</K0>
      <K1>sim keypress R</K1>
    </testSimKey>
    <printWinKey>
      <W0>windows load --force</W0>
      <W1>windows msgs start</W1>
      <W2>hook add Print Keydown KeyUp</W2>
    </printWinKey>
    <startListener>
      <L0>help</L0>
    </startListener>
    <TestSclAutorun>
      <S0>load sclModules</S0>
      <S1>load joiners</S1>
      <S2>seclav parse SIPtest.scl</S2>
      <S3>SIP force</S3>
      <S4>SIP assign SIPtest.scl</S4>
      <S5>auto run setupPipes</S5>
      <S6>hook add Pipeline Keydown KeyUp</S6>
      <S7>sim keydown R</S7>
    </TestSclAutorun>
  </AutoCommands>
</Config>