CVciZF2Oz+TMxdmRcwqrtKgWTkdZf59ZeK6EMZjUg/A=
<Config>
  <AutostartName>initCmds</AutostartName>
  <PrintAutoCommands>T</PrintAutoCommands>
  <MaxOnelinerLength>125</MaxOnelinerLength>
  <ResponsePrintFormat>Normal</ResponsePrintFormat>
  <AutoCommands>
    <initCmds>
      <C0>loadall</C0>
      <C1>clear</C1>
      <C2>safemode off</C2>a a
      <C3>core new</C3>
      <C4>core migrate act own skipSame</C4>
      <C5>core destroy</C5>
      <C6>core activate</C6>
      <C8>loglevel all</C8>
    </initCmds>
    <setupPipes>
      <P0>hook manager start</P0>
      <P1>pipeline new Sender DInputProcessor DDataSigner DPacketSender</P1>
      <P2>pipeline new RecverSender DPacketSender DDataSigner DInputSimulator DInputSimulator</P2>
      <P2>pipeline new RecverCallback NetworkCallbacks DDataSigner DInputSimulator DInputSimulator</P2>
      <P2>pipeline new LocalCallback DInputProcessor DInputSimulator SHookManager</P2>
      <P3>pipeline new InputProcess DInputReader DInputMerger DInputProcessor</P3>
      <P4>pipeline new HookManagerInputProcess SHookManager DInputMerger DInputProcessor</P4>
    </setupPipes>
    <testSimKey>
      <K0>hook add Print Keydown KeyUp</K0>
      <K1>sim keypress R</K1>
    </testSimKey>
    <printWinKey>
      <W0>windows load --force</W0>
      <W1>windows msgs start</W1>
      <W2>hook add Print Keydown KeyUp</W2>
    </printWinKey>
    <startListener>
      <L0>help</L0>
    </startListener>
    <TestSclAutorun>
      <S0>load sclModules</S0>
      <S1>load joiners</S1>
      <S2>seclav parse SIPtest.scl</S2>
      <S3>SIP force</S3>
      <S4>SIP assign SIPtest.scl</S4>
      <S5>auto run setupPipes</S5>
      <S6>hook add Pipeline Keydown KeyUp</S6>etrws
      <S7>sim keydown R</S7>
    </TestSclAutorun>
    <Shared>
      <Sh0>windows load --force</Sh0>
      <Sh1>windows msgs start</Sh1>
      <Sh2>core new comp packetsender</Sh2>
      <Sh3>network callback recv print</Sh3>
      <Sh4>network callback newconn print</Sh4>
      <Sh5>hook manager start</Sh5>
      <Sh6>load sclModules</Sh6>
      <Sh7>load joiners</Sh7>
      <Sh8>SIP force</Sh8>
      <Sh9>network callback recv pipeline</Sh9>
    </Shared>
    <Client>
      <Cl0>auto run Shared</Cl0>
      <Cl1>pipeline new Recver NetworkCallbacks DDataSigner DInputSimulator SHookManager</Cl1>
      <Cl3>password add blue</Cl3>
      <Cl4>network hostlist</Cl4>
    </Client>
    <Client2>
      <Cl0>auto run Shared</Cl0>
      <Cl1>pipeline new Recver NetworkCallbacks DDataSigner DInputSimulator DInputSimulator</Cl1>
      <Cl2>pipeline new HookManagerInputProcess SHookManager DInputMerger DInputProcessor</Cl2>
      <Cl3>password add blue</Cl3>
      <Cl4>network hostlist</Cl4>
    </Client2>
    <Server>
      <Se0>auto run Shared</Se0>
      <Se1>pipeline new ReadInputAndProcess DInputReader DInputMerger VScriptedInputProcessor</Se1>
      <Se2>pipeline new Sender DInputProcessor DDataSigner DPacketSender</Se2>
      <Se3>seclav parse MorseCode.scl</Se3>
      <Se4>SIP assign MorseCode.scl</Se4>
      <Se6>password add blue</Se6>
      <Se7>target set 192.168.72.12:45256</Se7>
    </Server>
    <Server2>
      <Se0>auto run Shared</Se0>
      <Se1>pipeline new ReadInputAndProcess DInputReader DInputMerger VScriptedInputProcessor</Se1>
      <Se2>pipeline new Sender DInputProcessor DDataSigner DPacketSender</Se2>
      <Se3>seclav parse MorseCode.scl</Se3>
      <Se4>SIP assign MorseCode.scl</Se4>
      <Se5>hook add Pipeline Keydown KeyUp</Se5>
      <Se6>password add blue</Se6>
      <Se7>target set 192.168.72.12:45256</Se7>
    </Server2>
    <tapper>
      <ta00>tapper force A S D F Space CapsLock Scroll</ta00>
      <ta01>tapper wait 600</ta01>
      <ta02>tapper conditioon None</ta02>
      <ta03>tapper mapping Single X---- T</ta03>
      <ta04>tapper mapping Single -X--- A</ta04>
      <ta05>tapper mapping Single --X-- E</ta05>
      <ta06>tapper mapping Single ---X- I</ta06>
      <ta07>tapper mapping Single ----X O</ta07>
      <ta08>tapper mapping Single XX--- D</ta08>
      <ta09>tapper mapping Single X-X-- U</ta09>
      <ta10>tapper mapping Single X--X- P</ta10>
      <ta11>tapper mapping Single X---X M</ta11>
      <ta12>tapper mapping Single -XX-- N</ta12>
      <ta13>tapper mapping Single -X-X- R</ta13>
      <ta14>tapper mapping Single -X--X B</ta14>
      <ta15>tapper mapping Single --XX- S</ta15>
      <ta16>tapper mapping Single --X-X Space</ta16>
      <ta17>tapper mapping Single ---XX F</ta17>
      <ta18>tapper mapping Single XXXXX C</ta18>
      <ta19>tapper mapping Single -XXXX L</ta19>
      <ta20>tapper mapping Single X-XXX G</ta20>
      <ta21>tapper mapping Single XX-XX Z</ta21>
      <ta22>tapper mapping Single XXX-X Enter</ta22>
      <ta23>tapper mapping Single XXXX- J</ta23>
      <ta24>tapper mapping Single --XXX Scroll None</ta24>
      <ta25>tapper mapping Single -X-XX Y</ta25>
      <ta26>tapper mapping Single -XX-X Down</ta26>
      <ta27>tapper mapping Single -XXX- K</ta27>
      <ta28>tapper mapping Single X--XX V</ta28>
      <ta29>tapper mapping Single X-X-X Q</ta29>
      <ta30>tapper mapping Single X-XX- H</ta30>
      <ta31>tapper mapping Single XX--X X</ta31>
      <ta32>tapper mapping Single XX-X- W</ta32>
      <ta33>tapper mapping Single XXX-- CapsLock None</ta33>
    </tapper>
    <tapperRun>
      <tr0>auto run Shared</tr0>
      <tr1>auto run tapper</tr1>
      <tr2>hook manager verbosity 0</tr2>
      <tr3>tapper verbosity 0</tr3>
      <tr4>hook add Fast Pipeline Keydown KeyUp</tr4>
      <tr5>pipeline new LocalCallback DInputProcessor DInputSimulator DInputSimulator</tr5>
      <tr6>pipeline new ReadInputAndProcess SHookManager DInputMerger VTapperInput SHookManager</tr6>
    </tapperRun>
  </AutoCommands>
</Config>
