<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">InputResender.WebUI</a>
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div>
            <select id="theme-selector" onchange="ApplyTheme()">
                <option value="dark">Dark</option>
                <option value="light">Light</option>
                <option value="pink">Pink</option>
                <option value="purple">Purple</option>
                <option value="blue-pink">Pastel</option>
                <option value="forest">Forest</option>
                <option value="gold">Gold</option>
            </select>
        </div>

        @foreach ( var (compName, component) in EnvHolder.ComponentUIs ) {
            string hrefLink = $"dynamic/{compName}";
            <div class="nav-item">
                <NavLink href=@hrefLink class="nav-link">
                    @component.ComponentName
                </NavLink>
            </div>
        }
        <button @onclick="EnvHolder.UpdateGUI">Update UI</button>
    </nav>
</div>

@code {
    [CascadingParameter(Name = "EnviHolder")]
    private EnvironmentHolder EnvHolder { get; set; }
}
