@inject IJSRuntime jsRuntime
<!DOCTYPE html>
<html lang="en" data-theme="@EnvHolder.SelectedTheme">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <script src="@Assets["scripts.js"]"></script>
    <ImportMap/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
    [CascadingParameter ( Name = "EnviHolder" )]
    public EnvironmentHolder EnvHolder { get; set; }

    protected override void OnInitialized () {
        if (EnvHolder == null) return;
        EnvHolder.JSRuntime = jsRuntime;
        EnvHolder.RedrawRequested += RequestRedraw;
    }

    public void RequestRedraw () {
        InvokeAsync ( StateHasChanged ).Wait ();
    }
}